@import 'variaveis';

.pagina-inicial {
    background-color: aquamarine;
    padding: 30px;

    h3,
    h5 {
        text-align: $center;
        color: $preto;
        font-weight: $bold;
        text-transform: $uppercase;
        text-shadow: 2px 2px 2px $branco;
    }
}

.pelourinho,
.barra,
.itapua {

    padding: 20px;

    h1 {
        text-align: $center;
        text-transform: $uppercase;
        color: $preto;
        font-weight: $bold;
        text-shadow: 2px 2px 2px $branco;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    img {
        border-radius: 20px;
    }

}

.pelourinho {
    background: rgb(222, 222, 222);
    background: linear-gradient(94deg, rgba(222, 222, 222, 1) 0%, rgba(181, 255, 254, 1) 0%, rgba(165, 244, 255, 1) 44%, rgba(108, 255, 248, 1) 100%);
}

.barra {
    background-color: $branco;
}

.itapua {
    background: rgb(222, 222, 222);
    background: linear-gradient(273deg, rgba(222, 222, 222, 1) 0%, rgba(181, 255, 232, 1) 0%, rgba(85, 255, 215, 1) 44%, rgba(51, 255, 205, 1) 100%);
}