@import 'variaveis';

.formulario {

    .card-body {
        padding: 3rem;
    }

    h3 {
        text-transform: $uppercase;
        font-weight: $bold;
        color: $preto;
        margin: 10px;
        text-align: $center;
    }
    
    .text-primary {
        text-decoration: none;
    }

    label {
        margin-top: 15px;
    }
}