@import 'variaveis';

.navbar-index {

  padding: 1.2rem;

  .navbar-brand {
    text-transform: $uppercase;
    font-weight: $bold;
    color: $preto;
    text-shadow: 2px 2px 2px $branco;
    margin: 10px;
  }

  .nav-link {
    text-transform: $uppercase;
    font-weight: $bold;
    color: $preto;
    margin: 10px;
    text-shadow: 2px 2px 2px #ffffff;
  }

  .nav-link:hover {
    transform: scale(1.2);
    transition: .2s
  }
}

.bg-index {
  background: rgb(222, 222, 222);
  background: linear-gradient(307deg, rgba(222, 222, 222, 1) 0%, rgba(235, 235, 235, 1) 0%, rgba(138, 255, 246, 1) 44%, rgba(147, 231, 255, 1) 100%);
}

.navbar-nav {
  .nav-item {
    .nav-link {
      &.active {
        color: rgb(110, 110, 110);
        border-radius: 20px;
        transform: scale(1);
        cursor: default;
      }
    }
  }
}